.head{
  /*margin-top: 0px;
  margin-right: 0px;*/
  /*width: 2080px;*/
  background: url(http://i64.tinypic.com/svoxuh.jpg) no-repeat;
  background-position: center;
  /*position: fixed;*/
}

h1 {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  letter-spacing: 25px;
  padding-top: 1%;
  margin-bottom: 10px;
  margin-top: 0px;
  color: #fff;

}

h4{
  margin-left: 200px;
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
  padding: 1px;
  margin-top: 10px;

}

body {
  background-color: #6a9053;
}

.nav {
 margin: 0 auto 0 auto;
 /*position: fixed;*/
 height: 100px;
 width: 1250px;
 border-bottom-style: solid;
 border-bottom-width: thin;
 border-bottom-color: #fff;
 font-family: 'Ubuntu', sans-serif;
 color: #fff;

}

.home{
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 50px;
  margin-left: 50px;
  border-style: solid;
  border-width: thin;
  transition-duration: 0.5s;
  /*transition-timing-function: ease-in-out;*/
  background-color: rgba(0, 0, 0, 0.6);

}
  .home:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: #17d000;
  }

.work{
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 50px;
  border-style: solid;
  border-width: thin;
  transition-duration: 0.5s;
  /*transition-timing-function: ease-in-out;*/
  background-color: rgba(0, 0, 0, 0.6);

}
  .work:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: #17d000;

  }

.about {
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 50px;
  border-style: solid;
  border-width: thin;
  transition-duration: 0.5s;
  /*transition-timing-function: ease-in-out;*/
  background-color: rgba(0, 0, 0, 0.6);

}
  .about:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: #17d000;

  }


.contact {
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 50px;
  border-style: solid;
  border-width: thin;
  transition-duration: 0.5s;
  /*transition-timing-function: ease-in-out;*/
  background-color: rgba(0, 0, 0, 0.6);

}
  .contact:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: #17d000;

  }


.links{
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 50px;
  border-style: solid;
  border-width: thin;
  transition-duration: 0.5s;
  /*transition-timing-function: ease-in-out;*/
  background-color: rgba(0, 0, 0, 0.6);

}

  .links:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: #17d000;

  }

.anim{
  padding: 2%;
  height: 550px;
  /*float: left;*/
  /*border-style: solid;
  border-color: #fff;*/
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 60px 60px 60px 60px;
  z-index: -1;

}
  @keyframes pan {
    from {background-position: top;}
    to {background-position: center;}
  }

  #slider {
     background: #000;
     border: 5px solid #eaeaea;
     box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
     height: 320px;
     width: 680px;
     margin: 40px auto 0;
     overflow: visible;
     position: relative;
   }

   #mask {
   overflow: hidden;
   height: 320px;
    }

    #slider ul {
     margin: 0;
     padding: 0;
     position: relative;
  }

  #slider li {
     width: 680px;  /* Width Image */
     height: 320px; /* Height Image */
     position: absolute;
     top: -325px; /* Original Position - Outside of the Slider */
     list-style: none;
  }

  #slider li.firstanimation {
   animation: cycle 25s linear infinite;
}

#slider li.secondanimation {
   animation: cycletwo 25s linear infinite;
}

@keyframes cycle {
   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   4%  { top: 0px; } /* Original Position */
   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   20% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   21% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { top: -325px; opacity: 0; z-index: 0; }
   96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }

   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   4%  { top: 0px; } /* Original Position */
   46% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   50% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   51% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { top: -325px; opacity: 0; z-index: 0; }
   96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo {
   0%  { top: -325px; opacity: 0; } /* Original Position */
   46% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
   50% { top: 0px; opacity: 1; }
   54% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   84% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   84% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   96% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ top: -325px; opacity: 0; z-index: -1; }
}


  .animimage{
    width: 750px;
    height: 250px;
    margin-right: 0px;
    background: url(http://i66.tinypic.com/e0hms9.jpg) no-repeat;
    background-size: auto;
    animation-name: pan;
    animation-duration: 20s;
    word-wrap: break-word;
    float: right;
  }




.code{
  width: 400px;
  height: 250px;
  padding: 2%;
  /*float: left;*/
  border-style: solid;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 60px 60px 60px 60px;
  z-index: -1;
}
  .codeimage{
    width: 200px;
    height: 200px;
    background: url(http://i65.tinypic.com/2m77qlw.jpg) no-repeat;
    background-size: contain;
  }

  .codeinfo{
    text-align: right;

  }
